<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=favicon.ico>
    <title>blogadmin</title>
    <link href=admin/assets/css/app.5efc5252.css rel=preload as=style>
    <link href=admin/assets/js/app.02ee144d.js rel=preload as=script>
    <link href=admin/assets/js/chunk-vendors.216647e0.js rel=preload as=script>
    <link href=admin/assets/css/app.5efc5252.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but blogadmin doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src=admin/assets/js/chunk-vendors.216647e0.js></script>
    <script src=admin/assets/js/app.02ee144d.js></script>
</body>

</html>